.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1800px;
    gap: 2rem;
}
.card{
    overflow: hidden;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    box-shadow:  0 0.1rem 1rem rgba(0,0,0, .1);
    background: #ece9e6;
    border: 2px solid;
    padding: 10px;
    transform: perspective(900px) rotateX(60deg) scale(0.7);
    transition: all 1s;
}

.card:hover{
    transform: rotate(0) scale(1) translateY(10px);

}

.card img{
    border-radius: 1em;
}